* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
}

/*utils*/

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}



.border {
    border: 1px solid black;
}

.border-tb {
    border: 1px solid #D0D0D3;
}

.b-border {
    border-bottom: 1px solid #D0D0D3;
}

.b-border-col {
    border-bottom: 1px solid #D0D0D3;
    width: 90px;
    margin: 40px 0;
}

img {
    max-width: 100%;
    display: block;
}

.s-container {
    max-width: 600px;
    margin: 0 auto;
}

.m-container {
    max-width: 900px;
    margin: 150px auto;
}

.l-container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {

    color: #1F1F1F;
    font-size: 14px;
    padding: 10px 10px;
    margin: 40px 0;
    border: 0;
}

.btn-move {
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #081753;
}

.button:hover::before,
.button:hover::after {
    opacity: 1;
}

.fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.btn-move:hover .fa-chevron-right {
    transform: translate(3px, -50%);
}


.blue-button.button {
    color: #fff;
    background-color: #0061FF;
}

.white-button {
    background-color: #fff;
    border: 1px solid black;
}

.big-btn {
    width: 200px;
}

.gray {
    color: #1F1F1F;
}

/*generics*/


h1 {
    font-size: 5em;
    font-weight: 800;
    padding: 80px 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 60px;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.billing-title div {
    display: inline-block;
    vertical-align: middle;

}

.ico {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 4px;
}

.monthly-ico {
    border: 5px solid #0061FF;
}

li {
    list-style-type: none;
    margin-bottom: 2opx;
}

ul .fa-check {
    color: #0061FF;
}

/*header*/

.header-navbar {
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1px 1px 10px #000;
}

.header-navbar a {
    display: block;
    color: #1F1F1F;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
    padding: 0 30px;

}

.nav-faq ul li a:hover,
.nav-buttons ul li a:hover {

    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.5);
}

.bg-header {
    background-color: #B4D0E7;
    margin-bottom: 100px;
    height: 785px;
}

.free-trial {
    align-items: flex-start;
    position: relative;
}

.trial-descr {
    flex-basis: 30%;
}

.trial-img {
    flex-basis: 70%;
}


.arrow {
    position: absolute;
    left: 0;
    bottom: 100px;
}


.arrow a {
    text-decoration: none;
    color: #000;
}

.arrow {
    overflow: hidden;
    transition: transform 0.3s ease;
}


.arrow:hover {
    transform: translateY(20px);
}

/*main*/

/*business section*/

.monthly {
    margin-right: 40px;
}

.billing-title {
    margin-bottom: 60px;
}

.billing-col,
.row-operations {
    flex-wrap: wrap;
    gap: 30px;
}

.billing-col * {
    flex-basis: calc(100% / 3 - 60px / 3);
}

.top-plan {
    flex-grow: 1;
}

.user-ico {
    text-align: center;
    padding: 10px 0;
}

.plan-tb {

    padding: 20px 30px;
    font-size: 16px;
    min-height: 900px;
}

.top-plan .plan-tb {
    min-height: 0;
}


.flex .plan-tb {
    flex-grow: 1;
}

.cc-contact {
    margin-top: 80px;
}

.button-last-enterprice {
    text-align: center;
}

/*partner section*/

.partners {
    gap: 25px;
    margin: 100px 0;
}

.text-partner {
    flex-basis: 70%;
}

.img-partner {
    flex-grow: 1;
}

/*operations section*/

.col-operations {
    flex-basis: calc(100% / 3 - 60px / 3);
}


/*costumers*/
.db-costumers {
    margin-top: 200px;
}

.db-costumers h2 {
    max-width: 70%;
}


/*footer*/

.costumers {
    max-width: 100vw;
    margin-top: 150px;
}

.costumers div {
    width: 33%;
}

.university,
.corporation {
    flex-wrap: wrap;
    align-items: center;


}

.university div,
.corporation div {
    flex-basis: calc(100% / 2);
    height: 314px;

}


.university img,
.corporation img {

    width: 50%;
    filter: invert(1);
    position: relative;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

}

.text-global {
    flex-grow: 1;
    padding: 50px;
}

.designit {
    background-color: #A2D39B;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.asu {
    background-color: #61082B;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.uf {
    background-color: #0093CE;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.topps {
    background-color: #FF1C1C;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.wbr {
    background-color: #D5001F;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.hearst {
    background-color: #B4D0E7;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.lonely {
    background-color: #0D2481;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.c-channel {
    background-color: #FFD830;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.text-global {
    min-height: 628px;
    background-color: #F5F5F5;
}

.text-global img {
    width: 50%;
}

.text-global .b-border {
    margin: 50px 0;
}

.university div:hover,
.corporation div:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);

}

/*free-trial footer*/

.free-trial-footer {
    background-color: #B4D0E7;
}

.m-container {
    margin: 0 auto;
    justify-content: space-between;
}

.text-ft {
    padding: 100px 0;
}

.text-ft h2 {
    flex-basis: 500px;
    color: #61082B;
    font-weight: bold;
}


.text-ft button {
    border: 0;
    font-size: 18px;
    padding: 10px 30px;
}

/*faq*/
.faq-row {
    margin-top: 150px;
}

.faq-row span {
    justify-content: space-between;
    line-height: 5;
    margin-right: 20px;
    font-weight: bold;
}

.faq-row p {
    text-align: justify;
    font-size: small;
    margin-bottom: 20px;
}

.faq-row li {
    border-bottom: 1px solid #D0D0D3;
}

.first-question {
    border-top: 1px solid #D0D0D3;
}

.detail {
    display: none;
}

.summary:hover+#detail,
#detail:hover {
    display: block;
}

/*links footer*/

.links {
    margin-top: 200px;
    padding: 80px 0;
    color: #fff;
    background-color: #000;
    min-height: 500px;
}

.link-container li {
    line-height: 2;
}

.link-container {
    justify-content: space-around;
    align-items: flex-start;
}

.dropbox .b-border {
    margin-top: 100px;
}

.language {
    margin-top: 40px;
}

.fa-earth-americas {
    margin-right: 5px;

}

.link-bold li {
    transition: font-weight 0.2s ease;
    cursor: pointer;
}

.link-bold li:hover {
    font-weight: bold;
}