* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
}

/*utils*/

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.border {
    border: 1px solid black;
}

.border-tb {
    border: 1px solid #D0D0D3;
}

.b-border {
    border-bottom: 1px solid #D0D0D3;
}

.b-border-col {
    border-bottom: 1px solid #D0D0D3;
    width: 90px;
    margin: var(--btn-mar);
}

img {
    max-width: 100%;
    display: block;
}

.s-container {
    max-width: var(--s-container-w);
    margin: var(--l-s-container);
}

.m-container {
    max-width: var(--m-container-w);
    margin: var(--m-container);
}

.l-container {
    max-width: var(--l-container-w);
    margin: var(--l-s-container);
}

.button {

    color: #1F1F1F;
    font-size: 14px;
    padding: var(--btn-pad);
    margin: var(--btn-mar);
    border: 0;
}

.btn-move {
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-btn);
}

.button:hover::before,
.button:hover::after {
    opacity: 1;
}

.fa-chevron-right {
    position: absolute;
    top: 50%;
    right: var(--space-sm);
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.btn-move:hover .fa-chevron-right {
    transform: translate(3px, -50%);
}


.blue-button.button {
    color: #fff;
    background-color: var(--blue-btn-color);
}

li .blue-button {
    cursor: pointer;
}

.white-button {
    background-color: var(--white-btn-color);
    border: 1px solid black;
}

.big-btn {
    width: var(--space-extraxl);
}

.gray {
    color: #1F1F1F;
}

/*generics*/


h1 {
    font-size: 5em;
    font-weight: 800;
    padding: 80px 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: var(--space-xxxl);
}

h3 {
    font-size: 1.3em;
    margin-bottom: var(--space-lg);
}

h4 {
    font-size: 1.1em;
    margin-bottom: var(--space-sm);
}

.billing-title div {
    display: inline-block;
    vertical-align: middle;
}

.ico {
    height: var(--space-lg);
    width: var(--space-lg);
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 4px;
}

.monthly-ico {
    border: 5px solid #0061FF;
}

li {
    list-style-type: none;
}


ul .fa-check {
    color: #0061FF;
}

.fa-ul {
    margin-left: var(--fa-li-margin, 1.5em);
    font-size: 14px;
}

.fa-ul li {
    padding-bottom: var(--space-sm);
}

.fa-ul span {
    line-height: 19px;
}

/*HEADER*/

/*Navbar*/

.header-navbar {
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    padding: var(--h-nav-space);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: var(--box-shadow-header);
}

.header-navbar a {
    display: block;
    color: #1F1F1F;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
    padding: var(--nav-space);
}

.nav-faq ul li a:hover,
.nav-buttons ul li a:hover {

    box-shadow: var(--box-shadow-nav);
    font-weight: bold;
    transition: 0.1s ease;
}

/*bg-header*/

.bg-header {
    background-color: #B4D0E7;
    margin-bottom: var(--space-extra);
    height: 785px;
}

.free-trial {
    align-items: flex-start;
    position: relative;
}

.trial-descr {
    flex-basis: 30%;
}

.trial-img {
    flex-basis: 70%;
}


.arrow {
    position: absolute;
    left: 0;
    bottom: var(--space-extra);
}


.arrow a {
    text-decoration: none;
    color: #000;
}

.arrow {
    overflow: hidden;
    transition: transform 0.3s ease;
}


.arrow:hover {
    transform: translateY(20px);
}

/*MAIN*/

/*business section*/

.monthly {
    margin-right: var(--space-xxl);
}

.billing-title {
    margin-bottom: var(--space-xxxl);
}

.billing-col,
.row-operations {
    flex-wrap: wrap;
    gap: var(--space-xl);
}

.billing-col * {
    flex-basis: calc(100% / 3 - 60px / 3);
}

.top-plan {
    flex-grow: 1;
}

.user-ico {
    text-align: center;
    padding: var(--user-space);
}

.plan-tb {

    padding: var(--plan-space);
    font-size: 16px;
    min-height: 850px;
}

.plan-tb h3 {
    margin-top: var(--space-lg);
}

.top-plan .plan-tb {
    min-height: 0;
}


.flex .plan-tb {
    flex-grow: 1;
}

.last-enterprice-team {
    margin-top: var(--space-xxxl);
    font-size: 14px;
}

.button-last-enterprice {
    text-align: center;
}

/*partner section*/

.partners {
    gap: 25px;
    margin: 100px 0;
}

.text-partner {
    flex-basis: 70%;
}

.img-partner {
    flex-grow: 1;
}

/*operations section*/

.col-operations {
    flex-basis: calc(100% / 3 - 60px / 3);
}


/*costumers*/
.db-costumers {
    margin-top: var(--space-extraxl);
}

.db-costumers h2 {
    max-width: 70%;
}

/*FOOTER*/

/*costumers section*/

.costumers {
    max-width: 100vw;
    margin-top: var(--space-extral);
}

.costumers div {
    width: 33%;
}

.university,
.corporation {
    flex-wrap: wrap;
    align-items: center;
}

.university div,
.corporation div {
    flex-basis: calc(100% / 2);
    height: 314px;
    border: var(--hidden-border);
}

.university img,
.corporation img {

    width: 60%;
    filter: invert(1);
    position: relative;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.text-global {
    flex-grow: 1;
    padding: 50px;
}

.designit {
    background-color: var(--designit-color);
}

.asu {
    background-color: var(--asu-color);
}

.uf {
    background-color: var(--uf-color);
}

.topps {
    background-color: var(--topps-color);
}

.wbr {
    background-color: var(--wbr-color);
}

.hearst {
    background-color: var(--hearst-color);
}

.lonely {
    background-color: var(--lonely-color);
}

.c-channel {
    background-color: var(--c-channel-color);
}


.text-global {
    min-height: 628px;
    background-color: var(--text-global-color);
}

.text-global img {
    width: 50%;
}

.text-global .b-border {
    margin: var(--top-bottom);
}

.university div:hover,
.corporation div:hover {
    border: var(--border-opacity);
}

/*free-trial footer*/

.free-trial-footer {
    background-color: var(--free-trial);
}

.m-container {
    margin: 0 auto;
    justify-content: space-between;
}

.text-ft {
    padding: var(--text-pad);
}

.text-ft h2 {
    flex-basis: 500px;
    color: #61082B;
    font-weight: bold;
}


.text-ft button {
    border: 0;
    font-size: 18px;
    padding: var(--text-ft-btn);
    margin-top: var(--space-md);
}

/*faq*/

.faq-row {
    margin-top: var(--space-extral);
}

.faq-row span {
    justify-content: space-between;
    line-height: 5;
    margin-right: var(--space-lg);
    font-weight: bold;
}

.faq-row p {
    text-align: justify;
    font-size: small;
    margin-bottom: var(--space-lg);
}

.faq-row li {
    border-bottom: 1px solid #D0D0D3;
}

.first-question {
    border-top: 1px solid #D0D0D3;
}

.detail {
    display: none;
}

.summary {
    cursor: pointer;
}

.summary:hover+.detail,
.detail:hover {
    display: block;
}

/*links footer*/

.links {
    margin-top: var(--space-extraxl);
    padding: 80px 0;
    color: #fff;
    background-color: #000;
    min-height: 500px;
}

.link-container li {
    line-height: 2;
}

.link-container {
    justify-content: space-around;
    align-items: flex-start;
}

.dropbox .b-border {
    margin-top: var(--space-extra);
}

.language {
    margin-top: var(--space-xxl);
}

.fa-earth-americas {
    margin-right: var(--space-xs);

}

.link-bold li {
    transition: 0.1s ease;
    cursor: pointer;
}

.link-bold li:hover {
    font-weight: bold;
}